.manage-doctor-container{
    padding: 5px;

    .manage-doctor-title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .save-content-doctor{
        margin-top: 20px;
        margin-bottom: 40px;
        // border-radius:;
        padding: 5px;
        cursor: pointer;
        &:hover{
            opacity: 0.6;
        }
    }
    .more-infor{
        display: flex;
        gap: 15px;
        padding-bottom: 15px;
        .content-left{
            width: 40%;
        }
        .content.right {
            width: 60%;

        }
    }
}

.content-container .content {
     margin: 0px !important ;
     box-shadow: none !important; 
}