.preview-img-container{
   
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        background-color: #8defa2;
        cursor: pointer;
        &:hover{
            opacity: 0.8;

        }
    }
    .preview-image{
        height: 50px;
        width: 100%;
        border: 1px solid rgb(222, 222, 222);
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }

}
